.Container{
    width: 70vw;
    margin: 0 auto;
    padding: 3rem 0;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    column-gap: 1rem;
}

@media screen and (max-width:1024px) {
    .Container{
        width: 90vw;        
        grid-template-columns: 1fr 1.5fr;       
    }
}
@media screen and (max-width:768px) {
    .Container{
        width: 98vw;       
        grid-template-columns: 1fr 2fr;        
        column-gap: 0.5rem;
    }
}
@media screen and (max-width:425px) {
    .Container{
        width: 98vw;       
        grid-template-columns: 1fr;    
        margin: 0 auto;    
       
    }
}